rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /overlays/{userId} {
      allow read: if true;
      allow write: if request.auth.uid == userId;
    }

    match /channelPointRedemptions/{userId} {
      allow read: if true;
      allow write: if request.auth.uid == userId;
    }
    
    match /streamStats/{userId} {
      allow read: if true;
      allow write: if request.auth.uid == userId;
    }
    
    match /streamBot/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}